
<div style="width: 50%; margin: auto;">
    <mat-card layout-align="center">
        <mat-card-header>
            <mat-card-title style="margin-left: -20px;"><b>RATING & REVIEW</b></mat-card-title><br><br>
        </mat-card-header>
        <mat-card-content style="padding-top: 20px;">
            <form class="my-form">
                <star-rating [starType]="'icon'" [rating]="0" labelText="Rating: " aria-disabled="auto" [size]="'medium'" [space]="'between'"></star-rating>
                <br>
                <mat-form-field class="full-width">
                    <mat-label>Review</mat-label>
                    <textarea matInput placeholder="Write your review" name="review"></textarea>
                </mat-form-field>
                
             </form>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Submit</button><br>
        </mat-card-actions>
    </mat-card>
</div>


