
    <h1 style="color: cornflowerblue; text-align: center; "><b>Welcome to My APP</b></h1>

<span> <!-- Square container -->
    <div></div> <!-- Bars -->
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </span>

